body{
    font-size: 25px;
    background-color: rgb(99, 218, 245);
    background-image: linear-gradient(rgb(137, 243, 135),rgb(235, 248, 181));
  }
  .container {
      position: relative;
      text-align: center;
      color: rgb(0, 0, 0);
      transition: width 2s, height 4s;
      transition: width 2s;
    }
    .image-effect:hover{
      transform: scale(1.1);
      transition: transform 0.6s;
    }